<!DOCTYPE html>
<html>
<head>
    <title>GPS Data</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>
<body>
    <h1>GPS Data</h1>

    <!-- buttons to sort values -->
    <div class="button-container">
        <div class="button-box">
            <button class="sort-button" onclick="sortDataBySerialNumber()">Reset Sorting</button>
            <!-- <button class="sort-button" onclick="sortDataByTemperature()">Sort by Temperature</button> -->
            <!-- <button class="sort-button" onclick="sortDataByLatitude()">Sort by Latitude</button> -->
            <!-- <button class="sort-button" onclick="sortDataByLongitude()">Sort by Longitude</button> -->
            <!-- <button class="delete-button" onclick="deleteData()">Delete All Data</button> -->
            <button class="save-button" onclick="saveDataAsCSV()">Save as CSV</button>
            <a class="sort-button"  target="_blank" onclick="opengraphs()" >Open live Graph</a>
        </div>
    </div>

    <!-- filter things -->
    <div class="filter-container">
        <form id="filter-form" action="/">
            <input type="text" id="robot-id-input" placeholder="Enter Robot IDs">
            <button type="submit">Filter</button>
            <button type="button" id="reset-button">Reset</button>
        </form>
    </div>

    <br>

    <table id="data-table">
        <thead>
            <tr>
                <th class="column-header-text">Sr No.</th>
                <!-- <th>Data ID</th> -->
                <th class="column-header-text">Robot ID</th>
                <th class="column-header-text">Topic</th>
                <th>
                    <div class="column-header">
                        <span class="column-header-text">Temperature</span>
                        <button class="upside-down-arrow-button" onclick="sortDataByTemperature()">
                            &#x1F53C;
                        </button>
                    </div>
                </th>
                <th>
                    <div class="column-header">
                        <span class="column-header-text">Latitude</span>
                        <button class="upside-down-arrow-button" onclick="sortDataByLatitude()">
                            &#x1F53C;
                        </button>
                    </div>
                </th>
                <th>
                    <div class="column-header">
                        <span class="column-header-text">Longitude</span>
                        <button class="upside-down-arrow-button" onclick="sortDataByLongitude()">
                            &#x1F53C;
                        </button>
                    </div>
                </th>
                <!--  -->
                <th>
                    <div class="column-header">
                        <span class="column-header-text">Quality 1</span>
                        <button class="upside-down-arrow-button" onclick="sortDataByq1()">
                            &#x1F53C;
                        </button>
                    </div>
                </th>
                <th>
                    <div class="column-header">
                        <span class="column-header-text">Quality 2</span>
                        <button class="upside-down-arrow-button" onclick="sortDataByq2()">
                            &#x1F53C;
                        </button>
                    </div>
                </th>
                <th>
                    <div class="column-header">
                        <span class="column-header-text">Quality 3</span>
                        <button class="upside-down-arrow-button" onclick="sortDataByq3()">
                            &#x1F53C;
                        </button>
                    </div>
                </th>
            </tr>
        </thead>
        
        <tbody>
            {% for document in data %}
                <tr>
                    <td>{{ document.id }}</td>
                    <!-- <td>{{ document._id }}</td> -->
                    <td>{{ document.robot_id }}</td>
                    <td>{{ document.topic }}</td>
                    <td>{{ document.temperature }}</td>
                    <td>{{ document.latitude }}</td>
                    <td>{{ document.longitude }}</td>
                    <td>{{ document.quality_1 }}</td>
                    <td>{{ document.quality_2 }}</td>
                    <td>{{ document.quality_3 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <div class="button-container">
        <div class="button-box">
            <button class="delete-button" onclick="deleteData()">Delete All Data</button>
            <!-- <button class="delete-button" onclick="deletespData()">Delete only displayed data</button> -->
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
